<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ASD demo</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="mb-4">Anomalous Sound Detector System</h1>
      <form
        id="uploadForm"
        action="/upload"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="form-group">
          <label for="file">Choose File</label>
          <input type="file" class="form-control-file" name="file" id="file" />
        </div>
        <div id="message"></div>
      </form>
      <form
        id="testForm"
        action="/test"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="form-group">
          <label for="model">Select System</label>
          <select class="form-control" name="options" id="options">
            <option value="baseline">Baseline</option>
            <option value="timemask">Baseline + TimeMask</option>
          </select>
        </div>
        <button type="button" class="btn btn-primary" id="submitBtn">
          Submit
        </button>
      </form>

      <div id="message2" class="mt-3"></div>
    </div>
    <script
      src="{{ url_for('static', filename='js/index.js') }}"
      type="module"
    ></script>
  </body>
</html>
